* {
  margin: 0;
  padding: 0;
  
}
html,body,.el-container {
  height: 100%;
}

.search-form {
  height: auto;
  text-align: left;
  .el-card__body {
    padding-bottom: 0;
  }
}

.table-container {
  height: 100%;
}
.operation {
   padding: 0 10px 0 0;
}

