// 左边栏宽度
$aside-width = 150px;
$label-width = 90px;

/* 侧边栏样式 */
.el-aside {
  height: 100%;
  width: $aside-width !important;
  position: fixed;
  margin-top: 60px;
  font-size: 16px;
  .left-aside {
    height: 100%;

    .el-menu {
      height: 100%;
      .el-menu-item {
        text-align: left;
      }
    }
  }
}

// 主体部分
.el-main {
  height: 100%;
  background: #f0f2f5;
  margin-left: $aside-width;
}

// 表单样式
.search-form {
  margin-bottom: 20px;
  .el-form-item {
    // margin-bottom: 24px;
    margin-right: 0;
    padding-right: 24px;
    width: 30%;
  }
  .el-form-item:nth-child(3) {
    padding-right: 0;
  }
  .el-form-item__label {
    line-height: 32px;
    padding: 0;
  }
  .el-form-item__content {
    width: calc(100% - 90px);
    line-height: 32px;
    .el-input__inner {
      height:32px;
    }
  }    
  .form-button-item {
    text-align:right;
    padding-right: 24px;
    margin-bottom:0;
  }

}

// 表格样式

.el-table  {
  .thread {
    background: #f0f2f5;
    tr {
      
    }
  }
}
.el-table th {
  background: #f0f2f5;
  color: #333;
}


// 按钮
.el-button {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
}